<app-topbar>
  <div class="container m-auto bg-white p-3">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Search..." class="w-full" pInputText />
    </span>

    <div class="grid-container mt-3">
      <ng-container *ngFor="let item of listConsert">
        <div class="shadow-2 border-round-sm p-2 cursor-pointer" [routerLink]="['/detail', item]">
          <img src="../../../assets//template.jpg" style="width: 100%;">
          <div class="text-lg font-bold my-2">Title</div>
          <div>SubTitle</div>
        </div>
      </ng-container>
    </div>
  </div>
</app-topbar>